@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.sidebar {
  position: fixed;
  height: 100%;
  width: 250px;
  background: #1F292E;
  transition: all 0.5s ease;
}
.sidebar.active {
  width: 60px;
}
.sidebar .logo-details {
  background-color: #157deccc;
  height: 80px;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i {
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  min-width: 60px;
  text-align: center;
}
.sidebar .logo-details i img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.sidebar .logo-details .logo_name {
  color: #fff;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 30px;
}
.sidebar .nav_links {
  height: 100%;
  padding-bottom: 15rem;
  margin-top: 17px;
  overflow: scroll;
}
::-webkit-scrollbar {
  display: none;
}
.sidebar .nav_links li {
  position: relative;
  list-style: none;
  height: 50px;
  transition: 0.1s;
}
.sidebar .nav_links li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.1s ease;
}
.sidebar .nav_links li a:hover {
  color: #ffffff;
  border-left: 4px solid #157DEC;
  background: #2C3E50;
}
.sidebar .nav_links li a:hover i{
  color: #FFFFFF;
}
.sidebar .nav_links li a:hover span{
  color: #FFFFFF;
}
.sidebar .nav_links li i {
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #B3B6B7;
}
.sidebar .nav_links li a span{
  color:#B3B6B7;
  font-size: 16px;
  white-space: nowrap;
}
.home-section {
  position: relative;
  background: #f5f5f5;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section {
  width: calc(100% - 60px);
  left: 60px;
}
.admin{
  width: 100%;
  padding-bottom: 17px;
  position: relative;
}
.admin img{
  width: 38px;
  height: 40px;
  border-radius: 15px;
  color: #A6ACAF;
  margin-left: 15px;
}
.admin p{
  color: #B3B6B7;
  position: absolute;
  top: 2px;
  left: 70px;
}
.icon i{
  color: #1bb51b;
  font-size: 11px;
  position: absolute;
  top: 26px;
  left: 72px;
}
.icon span{
  color: #B3B6B7;
  position: absolute;
  top: 22px;
  left: 89px;
}

/* Searching */
.InputContainer {
  width: 75%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  margin: auto;
  margin-top: 20px;
  padding-left: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}
.input {
  width: 90%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 0.9em;
  caret-color: #34495E;
}
.labelforsearch {
  cursor: text;
  padding: 0px 12px;
}
.searchIcon {
  width: 13px;
}
.border {
  height: 40%;
  width: 1.3px;
  background-color: rgb(223, 223, 223);
}
.micIcon {
  width: 12px;
}
.micButton {
  padding: 0px 15px 0px 12px;
  border: none;
  background-color: transparent;
  height: 40px;
  cursor: pointer;
  transition-duration: .3s;
}
.searchIcon path {
  fill: rgb(114, 114, 114);
}
.micIcon path {
  fill:#656869;
}
.home-section nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: #157DEC;
    display: flex;
    align-items: center;
    position: fixed;
    width: calc(100% - 240px);
    left: 240px;
    z-index: 100;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}
.home-section nav{
  width: 88%;
  height: 80px;
}
.sidebar.active ~ .home-section nav {
    left: 60px;
    width: calc(100% - 60px);
}
.home-section nav .sidebar-button {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}
nav .sidebar-button i {
    color: #fff;
    font-size: 35px;
    margin-right: 10px;
    padding-left: 10px;
}
.main_right{
    width: 100%;
    height: 100%;
    display: flex;
}
.box_left{
    width: 60%;
    height: 100%;
}
.box_right{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.right_a{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#box{
    width: 100px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right_a #box i{
    font-size: 18px;
    color: white;
}
#box:hover{
    background-color: #1373dbcc;
    border-bottom: 3px solid #34495E;
    transition: none;
    padding: none;
}
.right_a:hover span{
    background-color: #2874A6;
}
.right_a span{
    width: 33.3%;
    height: 100%;
}
/* popup */

.popup{
    background-color:#1E90FF;
    width: 99%;
    height: 120px;
    padding-top: -30px;
    border-radius: 5px;
    margin-left: 15px;
    font-family: "Poppins",sans-serif;
}
.popup #close{
    display: block;
    background-color: transparent;
    font-size: 20px;
    color: #ffffff;
    background-color: rgba(255, 0, 0, 0.882);
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    position: absolute;
    top: 16%;
    right: 2%;
    cursor: pointer;
}
.popup .text{
    color: #ECF0F1;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 15px;
}
.text span{
    font-size: 17px;
}
.right_b{
    width: 60%;
    height: 100%;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right_b .button1 i{
    color: white;
    font-size: 25px;
}
.right_b .button1 span{
    padding-left: 15px;
    font-size: 20px;
    color: white;
}
.right_b:hover{
    background-color: #1373dbcc;
}

/* Logout */
.box1 {
  width: 100%;
  margin: 0 auto;
  padding: 35px;
  background-clip: padding-box;
  text-align: center;
}
.button1 {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup2 {
  margin: 16rem auto;
  padding: 20px;
  background: linear-gradient(to right, #005c97, #363795);
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup2 .close1 {
  position: absolute;
  top: 16px;
  right: 25px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}
.profile, .sumuray{
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile svg{
  color: #ffffff;
}
.sumuray p{
  color: #ffffff;
  padding-top: 1rem;
}
/* this is a recreation of twitter search in css */
.form {
  --input-text-color: #fff;
  --input-bg-color: #283542;
  --focus-input-bg-color: transparent;
  --text-color: #949faa;
  --active-color: #1b9bee;
  --width-of-input: 200px;
  --inline-padding-of-input: 1.9em;
  --gap: 0.9rem;
}
.nav_link {
    margin-left: -40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    list-style: none;
    transition: 200ms ease;
    cursor: pointer;
}
.view{
  padding-top: 3rem;
  display: flex;
  justify-content: center;
}
.view .log_pf{
  width: 9vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  border: none;
  appearance: none;
  color: #fff;
  cursor: pointer;
  margin-right: 20px;
  background-color: #30a0ebe5;
}
.view .log_pf:hover{
  background-color: #157dec;
}
.view a{
  text-decoration: none;
}
.view .log_out{
  width: 9vh;
  display: flex;
  align-items: center;
  justify-content: center;;
  cursor: pointer;
  border: none;
  appearance: none;
  border-radius: 5px;
  color: #fff;
  background-color: #e4832e;
}
.view .log_out:hover{
  background-color: #f97807;
}
@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
.home-section .home-content {
    padding-top: 80px;
  }
.sub_right{
  width: 100%;
  height: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.head{
  width: 100%;
  padding: 10px 20px;
  display: flex;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.head_left{
  width: 92%;
}
.head_left span{
  font-size: 30px;
}
.head_right{
  width: 8%;
  color: gray;
  padding-top: 10px;
}
.sub_content{
  width: 97%;
  height: 100%;
  margin-top: 20px;
  border-radius: 5px;
  border-top: 4px solid #008000;
}
.sub_content p{
  font-size: 23px;
  padding: 10px 10px;
}
.info{
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
}
.info_left{
  width: 8%;
  height: 98%;
}
.info_left i{
  border-radius: 60%;
  padding: 12px;
  color: white;
  background-color: #157DEC;
  margin-left: 30%;
}
.line{
  width: 5px;
  height: 88.8%;
  margin-left: 45%;
  background-color: #B3B6B7;
  position: relative;
}
.line i{
  color: white;
  background-color: #979A9A;
  position: absolute;
  bottom: -39px;
  right: -18px;
}
.info_right{
  width: 95%;
  height: 1000px;
  border-radius: 5px;
  background-color: #D7DBDD;
  padding: 10px;
}
.info_right a{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color:  #0FA6F1;
}
.info_right a:hover{
  color:#1b9bee;
}
.info_right span{
  font-size: 19px;
}
.user{
  width: 98%;
  height: 95%;
  margin-top: 18px;
  border-radius: 5px;
  background-color:#F4F6F7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user_info{
  width: 98%;
  height: 100%;
  border-radius: 5px;
  background-color:#F4F6F7;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user_top{
  width: 96%;
  height: 5%;
  margin-top: 13px;
  border-radius: 5px;
  margin-left: 15px;
  background-color: #F4F6F7;
  display: flex;
  flex-direction: row;
}
.user_top1{
  width: 12%;
  background-color: #FFFFFF ;
  font-size: 20px;
  color: #979A9A ;
  border-radius: 5px;
  padding-left: 15px;
  padding-top: 10px;
  border-top: 1px solid #BDC3C7;
  border-left: 1px solid #BDC3C7;
  border-right: 1px solid #BDC3C7;
}
.user_down{
  width: 98%;
  height: 90%;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
.user_down1{
  width: 100%;
  height: 50%;
  background-color: #E5E8E8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user_down2{
  width: 100%;
  height: 50%;
  border-radius: 5px;
  background-color:#E5E8E8;
}
.user_down2 table{
  width: 100%;
}
.user_down2 table td{
  padding: 10px;
}
table tr td .btn1{
  background-color:#157dece4;
  border: none;
  padding: 5px;
  font-size: 13px;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
}
.button .btn1:hover{
  background-color: #157dec;
  color: #ffffff;
}
tr:nth-child(odd):hover{background-color:#E5E7E9;}
tr:nth-child(even) {background: #E5E7E9}
tr:nth-child(odd) {background: #F0F3F4}
table tr td .btn2{
  background-color:#f28729;
  border: none;
  padding: 5px;
  font-size: 13px;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
}
.button .btn2:hover{
  color: #ffffff;
  background-color:#f97807;
}
.footer{
  width: 100%;
  height: 70px;
  margin-top: 27px;
  padding-top: 7px;
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.footer span{
  padding-left: 15px;
  font-size: 20px;
}
.footer span a{
  text-decoration: none;
  color: #0FA6F1;
}
@media (max-width: 1150px) {
  .home-content .sales-boxes {
    flex-direction: column;
  }
  .home-content .sales-boxes .box {
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }
  .home-content .sales-boxes .top-sales {
    margin: 0;
  }
}
@media (max-width: 1000px) {
  .overview-boxes .box {
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  nav .sidebar-button .dashboard,
  nav .profile-details .admin_name,
  nav .profile-details i {
    display: none;
  }
  .home-section nav .profile-details {
    height: 50px;
    min-width: 40px;
  }
  .home-content .sales-boxes .sales-details {
    width: 560px;
  }
}
@media (max-width: 550px) {
  .overview-boxes .box {
    width: 100%;
    margin-bottom: 15px;
  }
  .sidebar.active ~ .home-section nav .profile-details {
    display: none;
  }
}
