*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
.profile{
    width: 100%;
    height: 950px;
    display: flex;
    flex-direction: column;
}
.pf_top{
    width: 100%;
    height: 6%;
    background-color:#F0F3F4;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
}
.logo{
    width: 50%;
    height: 100%;
    font-size: 20px;
    display: flex;
    color:dodgerblue;
    justify-content: center;
    align-items: center;
}
.admins{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.admins form select{
    width: 120px;
    font-size: 15px;
    border: none;
    color:#979A9A ;
    background-color: #F0F3F4;
    padding: 5px;
}
.dashboard{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
}
.update_info{
    width: 50%;
    height: 45%;
    margin-top: 1.5rem;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
}
.header{
    width: 100%;
    height: 13%;
    padding: 15px;
    font-size: 17px;
    background-color: #eef0f2;
}
.main_header{
    width: 100%;
    height: 84%;
    display: flex;
}
.sub_header{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column
}
.sub_header label{
    width: 70%;
    height: 20%;
}
.sub_header label p{
    margin-left: 20px;
    padding: 20px;
}
.detail{
    width: 60%;
    height: 100%;
    margin-top: 6px;
    display: flex;
    flex-direction: column;
}
.wrapper_fill {
    position: relative;
    width: 70%;
    height: 20%;
}
.fill_input{
    width: 100%;
    height: 15%;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
}
.input_text {
    width: 98%;
    height: 35px;
    border-radius: 5px;
    border: 2px #D0D3D4 solid;
    padding: 5px 15px;
    background-color: #ffffff;
    font-size: 15;
    font-weight: 500;
}
.holders{
    width: 33%;
    position: absolute;
    top: -2px;
    left: 25%;
    transform: translateX(-55%);
    z-index: 2;
    text-align: center;
    background-color: #ffffff;
    color: #1E90FF;
    font-size: 10px;
    letter-spacing: 1.5px;
    transition: all 0.3s;
    opacity: 0;
}
.input_text::placeholder{
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
}
.input_text:focus + .holders {
    opacity: 1;
}
.input_text:focus {
    outline: 1px solid #1E90FF;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    border: none;
}
.input_text:focus::placeholder {
    opacity: 0;
}



