
.sidebar .nav_links li a.activeCoursesProgram{
    background: #2C3E50;
    border-left: 4px solid #157DEC;
    color: #FFFFFF;
}
.sidebar .nav_links li a.activeCoursesProgram i{
    color: #FFFFFF;
}
.sidebar .nav_links li a.activeCoursesProgram span{
    color: #FFFFFF;
}
