body{
    font-family: 'Catamaran', sans-serif;
}
/* Override Bootstrap styles */
@import 'path/to/bootstrap-source/_reboot.scss';
ol, ul {
    padding-left:0;
}
.content{
    width: 100%;
    /* padding: 10px; */
    background-color:#ffffff ;
    border-top: 4px solid #00ABE4;
    border-radius: 5px;
}
.content button {
    font-size: 15px;
    color: #ffffff;
}
.box1{
    padding-top: 15px;
    padding-left: 10px;
}
.addStu{
    background-color:#00ABE4 ;
}
.addStu:hover{
    color :#ffffff;
    background-color: #0080aa;
}
.someLink{
    background-color: #00ABE4;
}
.someLink:hover{
    color :#ffffff;
    background-color: #0080aa;
}
.updateSchStu{
    background-color: #50C878;
}
.updateSchStu svg{
    width: 16px;
    height: 16px;
}
.updateSchStu:hover{
    color: #ffffff;
    background-color: #3e9e5e;
}
.cloneSem{
    background-color:#F69A36 ;
}
.cloneSem:hover{
    color: #ffffff;
    background-color: #da8a34;
}
.refresh{
    background-color: #b4b4b4;
}
.action{
    background-color: #F69A36;
}
.action:hover{
    background-color: #da8a34;
    color: #ffffff;
}
.reporting{
    background-color: #00ABE4;
}
.reporting:hover{
    color: #ffffff;
    background-color: #0080aa;
}
.export{
    background-color: #F69A36;
}
.export:hover{
    color: #ffffff;
    background-color:#da8a34;
}
.box2{
    padding-left: 10px;
}
/* search */
.searchStu {
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 14em;
    width: fit-content;
    height: fit-content;
    background-color:#e6dfdf;
    border-radius:5px;
    overflow: hidden;
}

.search_icon {
    height: 1em;
    padding: 0 0.5em 0 0.8em;
    fill: black;
}

.search_stu {
    background-color: transparent;

    outline: none;
    width: 100%;
    border: 0;
    padding: 0.3em 1.5em 0.3em 0;
    font-size: 1em;
}

::placeholder {
   color: black;
}
.box3{
    padding-top: 7px;
    padding-left: 10px;
}
.dataTables_length{
    display: flex;
    display: inline-block;
}
.box_body{
    font-size: 15px;
}
.image_mark {
    width: 20px;
}
element.style {
    width: 0.2px;
}
.btn-success {
    background-color: #00a65a;
    border-color: #008d4c;
}
  .hidden {
    display: none;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }

  /* Hide default HTML checkbox */
  .switch input {display:none;}

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input.warning:checked + .slider {
    background-color: #FFC107;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(126px);
    transform: translateX(16px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 20px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
 input[type='search']:focus{
box-shadow: none;
}
.custom-select:focus{
    box-shadow: none;
}
.paginate_button:focus{
    box-shadow: none;
}

/* Initially hide the tools */
.tools {
    display: none;
}

/* Show the tools when hovering over the li element */
.todo-list li:hover .tools {
    display: block;
}
