*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  font-family: sans-serif;
}
.profile{
    width: 100%;
    height: 950px;
    display: flex;
    flex-direction: column;
}
.pf_top{
    width: 100%;
    height: 6%;
    background-color:#F0F3F4;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
}
.logo{
    width: 50%;
    height: 100%;
    font-size: 20px;
    display: flex;
    color:dodgerblue;
    justify-content: center;
    align-items: center;
}
.admins{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.admins form select{
    width: 120px;
    font-size: 15px;
    border: none;
    color:#979A9A ;
    background-color: #F0F3F4;
    padding: 5px;
}
.dashboard{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
}
.main{
    width: 50%;
    height: 90%;
    margin-top: 1.5rem;
}
.info{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.info_right{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.header{
    width: 98%;
    padding: 7px;
    background-color: #FFFFFF;
    border-radius: 5px;
}
.header a{
    text-decoration: none;
    font-size: 20px;
    color:  #0FA6F1;
}
.info_right span{
    font-size: 19px;
}
.user{
    width: 98%;
    height: 95%;
    margin-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user_info{
    width: 98%;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color:#F4F6F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user_down{
    width: 98%;
    height: 90%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.user_down1{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user_down2{
    width: 100%;
    height: 50%;
    border-radius: 5px;
    /* background-color:#E5E8E8; */
}
.user_down2 table{
    width: 100%;
}
.user_down2 table td{
    padding: 10px;
}
.log_pf{
    background-color:#157dece4;
    text-decoration: none;
    border: none;
    padding: 5px 15px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}
tr:nth-child(odd):hover{background-color:#E5E7E9;}
tr:nth-child(even) {background: #E5E7E9}
tr:nth-child(odd) {background: #F0F3F4}
.log_pf:hover{
    background-color: #157dec;
}
.log_out{
    text-decoration: none;
    border: none;
    padding: 5px 15px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    background-color: #f28729;
}
.log_out:hover{
    background-color:#f97807;
}