*{
    font-family: 'Catamaran', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.contentShowStu {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}
.showProfileStu {
    width:25% ;
    height: auto;
    border-radius: 5px;
}
.image_showProfileStu img{
    width: 88px;
    height: 117px;
    object-fit: cover;
    border: 1px solid black;

}
.topShowStuInfo{
    border-top: 3px solid #274afcf2;
    border-radius: 5px;
    box-shadow:  5px 5px 7px #d3d3d3,
            -5px -5px 7px #ededed;
}
.contactInfo{
    border-radius: 5px;
    border-top: 3px solid #274afcf2;
    border-radius: 5px;
    box-shadow:  5px 5px 7px #d3d3d3,
            -5px -5px 7px #ededed;
}
.showInfoStu {
    width:72% ;
    /* height: auto; */
    border-radius: 5px;
    box-shadow:  5px 5px 7px #d3d3d3,
            -5px -5px 7px #ededed;
}

.navTab_showStu > .nav_tabs > li.active {
    border-top-color: #274afcf2;
    font-weight: bold;
    color: black;
    background-color: #ffffff;
}
.navTab_showStu > .nav_tabs > li {
    border-top: 3px solid transparent;
}
.leftContent {
    width: 60%;
}
.subLeft{
    border-radius: 5px;
    border-top: 5px solid #274afcf2;
    border-radius: 5px;
    box-shadow:  5px 5px 7px #d3d3d3,
            -5px -5px 7px #ededed;
}
.rightContent {
    width: 37%;
}

