body{
    font-family: 'Catamaran', sans-serif;

}

.sidebar .nav_links li a.activeStudentAnnuals{
    background: #2C3E50;
    border-left: 4px solid #157DEC;
    color: #FFFFFF;
}
.sidebar .nav_links li a.activeStudentAnnuals i{
    color: #FFFFFF;
}
.sidebar .nav_links li a.activeStudentAnnuals span{
    color: #FFFFFF;
}

.contentStu{
    width: 100%;
    height: auto !important ;
    border-top: 4px solid #274afcf2;
    border-radius: 5px;
}

/* search */
.searchStu {
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 14em;
    width: fit-content;
    height: fit-content;
    background-color: #5c6370;
    border-radius: 0.8em;
    overflow: hidden;
}

.search_icon {
    height: 1em;
    padding: 0 0.5em 0 0.8em;
    fill: #abb2bf;
}

.search_stu {
    background-color: transparent;
    color: #ffffff;
    outline: none;
    width: 100%;
    border: 0;
    padding: 0.5em 1.5em 0.5em 0;
    font-size: 1em;
}

::placeholder {
    color: #abb2bf;
}

.box3{
    padding-top: 7px;
    padding-left: 10px;
}
.semester{
    width: 100px;
}
.origin{
    width: 300px;
}
.group{
    width: 80px;
}
.abc{
    width: 130px;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
