*{
    font-family: 'Catamaran', sans-serif;
}
.content{
    width: 100%;
    height: 100vh;
    /* padding: 10px; */
    background-color:#ffffff ;
    border-top: 4px solid #00ABE4;
    border-radius: 5px;
}
.content button{
    font-size: 15px;
    color: #ffffff;
}
.box1{
    padding-top: 15px;
    padding-left: 10px;
}
.addStu{
    background-color:#00ABE4 ;
}
.addStu:hover{
    color :#ffffff;
    background-color: #0080aa;
}
.someLink{
    background-color: #00ABE4;
}
.someLink:hover{
    color :#ffffff;
    background-color: #0080aa;
}
.updateSchStu{
    background-color: #F69A36;
}
.updateSchStu svg{
    width: 16px;
    height: 16px;
}
.updateSchStu:hover{
    color: #ffffff;
    background-color: #da8a34;
}
.cloneSem{
    background-color:#F69A36 ;
}
.cloneSem:hover{
    color: #ffffff;
    background-color: #da8a34;
}
.refresh{
    background-color: #b4b4b4;
}
.action{
    background-color: #F69A36;
}
.action:hover{
    background-color: #da8a34;
    color: #ffffff;
}
.reporting{
    background-color: #00ABE4;
}
.reporting:hover{
    color: #ffffff;
    background-color: #0080aa;
}
.export{
    background-color: #F69A36;
}
.export:hover{
    color: #ffffff;
    background-color:#da8a34;
}
.box2{
    padding-left: 10px;
    display: flex;
}
.selectOp{
    width: 140px;
    height: 30px;
    font-size: 14px;
}
.selectOp:focus{
    border: 2px solid #00ABE4;
    outline: none !important;
}
option:checked{
    background-color: #00ABE4;
    color: #ffffff;
}
/* option:hover{
    background-color: #00ABE4;
} */
.box2Left{
    width: 70%;
}
.degree{
    width: 150px;
}
.grade{
    width: 90px;
}
.department{
    width: 120px;
}
.gender{
    width: 100px;
}
.box2Right{
    width: 30%;
}
.search{
    float: right;
}
.container-input {
    position: relative;
}

.input {
    width: 200px;
    padding: 4px 0px 4px 40px;
    border-radius: 99999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
    background-color: #00ABE4;
}

.container-input svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}
.input:focus {
    width: 250px;
    border: 1px solid #00ABE4;
    background-color: #ffffff;
}
.input::placeholder{
    color: black;
}

.box3{
    padding-top: 7px;
    padding-left: 10px;
}
.semester{
    width: 100px;
}
.origin{
    width: 300px;
}
.group{
    width: 80px;
}
.abc{
    width: 130px;
}
